/*Fonte Global*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*--------------------------------PAGINA HOME--------------------------------*/

/*Configuração global do site*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/*Cabeçalho do site*/
header {
  background: #7fffd4;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px;
}
/*Logo do cabeçalho*/
header img {
  width: 180px;
  padding: 0;
  margin: 0;
}
/*Menu cabeçalho*/
header nav {
  align-items: center;
  font-weight: 600;
}

header nav,
ul {
  display: flex;
  list-style: none;
}

.bt-home {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  background-color: #9370dd;
  padding: 10px 20px;
  border-radius: 25px;
}

.bt-home:hover {
  color: white;
  background-color: rgb(200, 176, 250);
}

nav li a {
  color: #9370dd;
  text-decoration: none;
  font-size: 15px;
  /*font-weight: 600;*/
  padding: 5px 5px;
}

nav li a:hover {
  color: rgb(200, 176, 250);
}

nav li {
  margin: 0 10px;
}
/*Banner do site*/
.banner-home {
  background: aquamarine;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 100px;
}
/*Texto do banner*/
.banner-home-left h2 {
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.banner-home-left p {
  max-width: 500px;
  font-size: 20px;
  line-height: 160%;
  color: grey;
  margin: 10px;
}
.banner-home-right img {
  height: 512px;
  width: auto;
}

/*Botões do Banner*/
.banner-botoes {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.banner-botao-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: #9370dd;
  text-decoration: none;
  color: white;
  margin: 20px;
  font-weight: bold;
}

.banner-botao-left a:hover {
  background-color: rgb(200, 176, 250);
  text-decoration: none;
  color: white;
}

.banner-botao-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: aquamarine;
  text-decoration: none;
  color: #9370dd;
  margin: 20px;
  font-weight: bold;
  border: 3px solid #9370dd;
}

.banner-botao-right a:hover {
  border: 3px solid rgb(200, 176, 250);
  color: rgb(200, 176, 250);
}

/*Seção 01 da Home*/
.home-sec1 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.home-sec1-right {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  align-items: flex-end;
  text-align: right;
}

.home-sec1-right h2 {
  text-align: right;
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.home-sec1-right p {
  max-width: 750px;
  font-size: 20px;
  line-height: 160%;
  text-align: justify;
  color: grey;
  margin: 10px;
}

/*Seção 02 da Home*/
.home-sec2 {
  background-color: aquamarine;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
  color: grey;
}

.home-sec2 h2 {
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.home-sec2-box p {
  max-width: 350px;
  font-size: 20px;
  text-align: justify;
}

main.home-sec2-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main.home-sec2-boxs section.home-sec2-box {
  margin: 50px 50px;
  padding: 10px 20px;
}

main.home-sec2-boxs section.home-sec2-box span {
  font-weight: 700;
  font-size: 30px;
  display: block;
}

/*Seção 03 da Home*/
.home-sec3 {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.home-sec3-left h2 {
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.home-sec3-left p {
  max-width: 750px;
  font-size: 20px;
  line-height: 160%;
  color: grey;
  margin: 10px;
}

.home-sec3-left a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-color: rgb(173, 134, 252);
  text-decoration: none;
  color: white;
  margin: 20px;
  font-weight: bold;
}

.home-sec3-left a:hover {
  background-color: rgb(200, 176, 250);
}

/*Seção 04 da Home*/
.home-sec4 {
  background: aquamarine;
  padding: 50px 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: grey;
}

.home-sec4 h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.home-sec4 h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

main.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 1rem 1.5rem;
  margin: 30px 30px;
  border-radius: 25px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.185);
}

main.cards section.card span {
  color: mediumpurple;
  font-weight: 700;
  font-size: 30px;
}

main.cards section.card p:first-letter {
  color: mediumpurple;
  font-weight: 900;
  font-size: 20px;
}

main.cards section.card a.botao {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 20px;
  font-weight: 600;
  background: rgb(173, 134, 252);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

main.cards section.card a.botao:hover {
  font-weight: 600;
  background: rgb(200, 176, 250);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

main.cards section.card h4 {
  font-weight: 700;
  font-size: 35px;
  color: rgb(147, 112, 216);
}

/*Seção 05 da Home*/
.home-sec5 {
  background-color: white;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
  color: grey;
}

.home-sec5 h2 {
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.home-sec5 h3 {
  font-weight: 600;
  font-size: 30px;
}

main.vets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main.vets section.vet {
  /*flex-direction: column;*/
  margin: 50px 50px;
  padding: 10px 20px;
  background: #7fffd4;
  border-radius: 25px;
  text-align: center;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.158);
}

main.vets section.vet span {
  font-weight: 700;
  font-size: 30px;
  display: block;
  color: #9370dd;
}

main.vets section.vet a {
  flex-direction: row;
  text-decoration: none;
  text-align: left;
  border: none;
  outline: none;
}

main.vets section.vet a img {
  margin: 20px 15px;
  border: none;
}

/*Rodapé*/
footer {
  background: aquamarine;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 100px;
}

footer .boxs {
  width: 320px;
  min-height: 150px;
  padding: 20px;
}

footer .boxs:nth-child(4) {
  width: 400px;
}

.boxs h2 {
  color: #9370dd;
  margin-bottom: 20px;
}

.boxs ul {
  display: flex;
  flex-direction: column;
}

.boxs ul li {
  margin: 0px;
  list-style: none;
}

.boxs ul li a {
  color: grey;
  text-decoration: none;
}

.boxs ul li a:hover {
  color: rgb(211, 211, 211);
}

.boxs p {
  color: grey;
  text-align: justify;
}

.boxs a img {
  margin: 10px 5px;
}

.footer {
  padding: 5px 100px;
  background-color: #55b494;
  text-align: center;
  align-items: center;
  color: white;
}

.footer h2 p {
  font-size: 20px;
}
/*--------------------------------PAGINA DE AGENDAMENTO--------------------------------*/

.container {
  margin: 0 auto 35px;
  max-width: 450px;
  justify-content: center;
  align-items: center;
}

.container h1 {
  text-align: center;
  color: #9370dd;
  margin: 0 auto 35px;
  max-width: 450px;
  font-size: 35px;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
  border-radius: 50px;
  background-color: rgb(173, 134, 252);
  text-decoration: none;
  color: white;
  margin: 0;
  font-weight: bold;
}
.container a:hover {
  background-color: rgb(200, 176, 250);
}

.form-field {
  display: block;
  margin-bottom: 16px;
}
.form-field--is-active .form-field__control::after {
  border-bottom: 3px solid #9370dd;
  transform: scaleX(150);
}
.form-field--is-active .form-field__label {
  color: #9370dd;
  font-size: 0.75rem;
  transform: translateY(-14px);
}
.form-field--is-filled .form-field__label {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

.form-field__label {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
}

.form-field__control {
  background: #eee;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.form-field__control::after {
  border-bottom: 3px solid #9370dd;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 0.4s;
  width: 1%;
}

.form-field__input,
.form-field__textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 3px solid #7fffd4;
  color: grey;
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}

.form-field__textarea {
  height: 150px;
}
/*--------------------------------PAGINA DE CONTATO--------------------------------*/
/*Seção 01 do Contato*/
.sec01-contato {
  background-color: white;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
  color: #9370dd;
}

.sec01-contato h2 {
  font-size: 60px;
  line-height: 110%;
  color: #9370dd;
}

.sec01-contato h3 {
  font-weight: 600;
  font-size: 30px;
}

main.contato-boxs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main.contato-boxs section.contato-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 10px;
  width: 300px;
  height: 250px;
  background: #7fffd4;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  text-align: center;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.158);
}

main.contato-boxs section.contato-box span {
  font-weight: 700;
  font-size: 30px;
  display: block;
  color: #9370dd;
}

.contato-box-redes a img {
  align-items: center;
  padding: auto;
  margin: 0 10px;
  border: none;
}
/*Seção 02 do Contato*/
.sec02-contato h4 {
  align-items: center;
  text-align: center;
  margin: 20px;
  font-size: 30px;
  color: #9370dd;
}

/* Set the size of the div element that contains the map */
#map {
  height: 500px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
